[submodule "3rdparty/KDDockWidgets"]
	path = 3rdparty/KDDockWidgets
	url = https://github.com/KDAB/KDDockWidgets.git
[submodule "src/QPrompt"]
	path = src/QPrompt
	url = git@github.com:Cuperino/QPrompt.git
